<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>MaaS - Meta-as-a-Service | @sanketsaurav</title>
		<meta name="description" content="MaaS - Meta-as-a-Service">
		<meta name="author" content="@sanketsaurav">
		<link rel="stylesheet" href="/static/app.css">
	</head>

	<body>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=556488241090459";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<div class="hero">
			<h1>&lt;meta&gt;</h1>
			<h2>as-a-service</h2>
		</div>
		<div class="description">
			<p>Just give me the website's address like this, and I'll give you JSON with all the
			metadata I find:</p>
			<p class="pre"><a href="/meta/campushash.com" target="blank">http://maas.dfth.in/meta/<strong>campushash.com</strong></a></p>
			<p>Or you can specify any particular metadata you need:</p>
			<p class="pre"><a href="/meta/description/campushash.com" target="blank">http://maas.dfth.in/meta/description/<strong>campushash.com</strong></a></p>
		</div>
		<footer>
			<iframe src="http://ghbtns.com/github-btn.html?user=sanketsaurav&type=follow&size=small"
		  allowtransparency="true" frameborder="0" scrolling="0" width="150" height="20"></iframe>
			<a href="https://twitter.com/sanketsaurav" class="twitter-follow-button" data-show-count="false" data-lang="en" >Follow @pizzahackers</a>
			<div class="fb-like" data-href="http://maas.dfth.in/meta" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
			<p class="love">Made with <span class="heart">&hearts;</span> by <a href="http://facebook.com/sanketsaurav">Sanket</a> at <a href="http://pizzahackers.org">PizzaHackers</a></p>
								</footer>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</body>
</html>